{% extends 'main/layout/clean_layout.html' %}
 
{% block title%}Register{% endblock %}
 
{% block content%}

<div class="d-flex align-items-center justify-content-center px-4" style="height: 100vh;">
    
    <div style="max-width: 480px; background-color: #313338; padding: 32px; border-radius: 5px; box-shadow: 0 2px 10px rgba(0,0,0,0.2);" class="w-100">
        
        <h2 class="text-center mb-4" style="color: #f2f3f5; font-weight: 600; font-size: 24px;">Create an account</h2>
        
        <form method="POST" action="/register">
            {% csrf_token %}

            <div class="mb-3">
              <label for="username" class="form-label discord-label">Username</label>
              <input type="text" class="form-control discord-input" id="username" name="username" aria-describedby="username" required>
            </div>

            <div class="mb-3">
              <label for="gender" class="form-label discord-label">Gender</label>
              <input type="text" class="form-control discord-input" id="gender" name="gender" aria-describedby="gender" required>
            </div>

            <div class="mb-3">
              <label for="age" class="form-label discord-label">age</label>
              <input type="number" class="form-control discord-input" id="age" name="age" aria-describedby="age" required>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label discord-label">Email address</label>
              <input type="email" class="form-control discord-input" id="email" name="email" aria-describedby="emailHelp" required>
            </div>

            <div class="mb-4">
              <label for="password" class="form-label discord-label">Password</label>
              <input type="password" class="form-control discord-input" id="password" name="password" required>
            </div>

            <button type="submit" class="btn btn-discord w-100">Register</button>
        </form>
    </div>
</div>
 
{% endblock %}