{% load static %}
{% load sidebar_links %}

{% get_links as links %}

<nav class="navbar navbar-expand-lg navbar-dark discord-navbar px-3">
  <div class="container-fluid">

    <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="{% static 'main/img/Logo_IOP.png' %}" alt="Logo IOP" height="48" class="me-2">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Rozwiń nawigację">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topNavbar">
      
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 mt-2 mt-lg-0">
        {% for link in links %}
          <li class="nav-item">
            <a href="{{ link.href }}" class="nav-link {% if request.path == link.href %}active{% endif %}" aria-current="page">
              <i class="fa-solid {{ link.icon }}"></i>&nbsp;<span>{{ link.name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>

      <div class="d-flex align-items-center gap-3 mt-3 mt-lg-0">
        {% if request.user.is_authenticated %}
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle text-white d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
              {% if request.user.profile.avatar_url %}
                  <img src="{{ request.user.profile.avatar_url }}" alt="Avatar" width="32" height="32" class="rounded-circle me-2 "id="pfp">
              {% else %}
                  <img src="https://github.com/mdo.png" alt="Avatar" width="32" height="32" class="rounded-circle me-2"id="pfp">
              {% endif %}
              <strong>{{ request.user.username }}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end shadow">
              <li><a class="dropdown-item" href="{% url 'favourites' %}">Ulubione</a></li><li><a class="dropdown-item" href="{% url 'settings' %}">Ustawienia</a></li>
              <li><a class="dropdown-item" href="{% url 'user_profile' request.user.username %}">Profil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <form method="POST" action="/logout" class="m-0">
                  {% csrf_token %}
                  <button class="dropdown-item text-danger" type="submit">Wyloguj</button>
                </form>
              </li>
            </ul>
          </div>
        {% else %}
          <div class="d-flex gap-2">
            <a class="btn btn-primary" href="/login">Zaloguj się</a>
            <a class="btn btn-info text-white" href="/register">Zarejestruj się</a>
          </div>
        {% endif %}
      </div>

    </div>
  </div>
</nav>