body {
    background-color: #313338;
    color: #dbdee1;
}

h1, h2, h3, h4, h5, h6 {
    color: #f2f3f5;
}

a {
    color: #00a8fc; /* linki */
    text-decoration: none;
}

.discord-navbar {
    background-color: #1e1f22; 
    border-bottom: 2px solid #111214;
}

.daButton {
    background-color: #b5bac1;
    color: #383a40;
    font-weight: 500;
    border: none;
    transition: background-color 0.2s ease; /* płynne przejście koloru */
    border-radius: 4px;
    padding: 8px 24px
}

.daButton:hover {
    background-color: #dbdee1; /* Ciemniejszy odcień przy najechaniu myszką */
    color: #383a40;
}
